/** UI FIX **/

.ui-widget { 
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif !important; 
	font-size: 11px !important; 
}

.checkbox {
	padding:0 !important;
	margin-bottom:0 !important;
}

.category-box {
	float:right;
	height:250px;
	width:20%;
	padding:3px;
	width:100%;
}
.category-box a,.category-box p,.category-box li{
		text-size:11px !important;
}
}
.category-box-content {
	height:224px;
	overflow:auto;
	background:#fff;
}

.main-editor {
	float:left;
	clear:none !important;
	width:98%;
}

.docs-editor {
	float:left;
	clear:none !important;
	width:99%;
}

form {
	width:100%;
}

ul, ol {
	list-style:none;
}

.order-icons ul {
	float:right;
}

.order-icons p {
	float:left;
}

.order-icons button {
	width:78px;
}

.tabs_input{
	
	border:1px solid #AAAAAA;
	padding:5px 3px;
	margin-top:10px;
	margin-bottom:10px;
	
}
.main-editor label, .span_container label{
	color:#808080;
	width:80px;
	min-width:80px;
	line-height:30px;
	height:30px;
	margin-right:20px;
	display:inline-block;
}
.file-list{
	width:100%;
}
.file-list .order-icons button {
	width:120px;
	text-align:left;
}
.select div.selectbox-wrapper3{
	left:122px !important;
	margin-top:-8px;
	z-index: 9;
}